<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title%></title>
		<link
			rel="icon"
			type="image/svg+xml"
			href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><rect width=%22100%22 height=%22100%22 rx=%2220%22 fill=%22%2376fafa%22></rect><text x=%2250%%22 y=%2250%%22 dominant-baseline=%22central%22 text-anchor=%22middle%22 font-size=%2265%22>🚀</text></svg>"
		/>
		<link rel="stylesheet" href="/css/layout.css" />
		<%- style%>
		<script
			src="https://kit.fontawesome.com/34162fcf4d.js"
			defer
			crossorigin="anonymous"
		></script>
		<script defer type="text/javascript" src="/js/layout.js"></script>
		<%- script%>
	</head>
	<body>
		<!-- Container Start -->
		<div class="container">
			<!-- Background Circles Start -->
			<%- include('_background-circles');%>
			<!-- Background Circles End -->
			<!-- Application Start -->
			<div class="app">
				<!-- Banner Start -->
				<%- include('_banner');%>
				<!-- Banner End -->
				<!-- Input Start -->
				<%- include('_input');%>
				<!-- Input End -->
				<!-- Upper Tabs Start -->
				<%- include('_upper-tabs');%>
				<!-- Upper Tabs End -->
				<!-- Dynamic Display Start -->
				<%- body%>
				<!-- Dynamic Display End -->
				<!-- Lower Tabs Start -->
				<%- include('_lower-tabs');%>
				<!-- Lower Tabs End -->
			</div>
			<!-- Application End -->
		</div>
		<!-- Container End -->
	</body>
</html>
